@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

* {
    top: 0;
    left: 0;
}

:root {
    --site_Font: 'Khand';
    --a_Colour: #e5edff;
    --a_Size: 1.5rem;
}

@media (max-width: 599px) {
    header {display: none;}
}

@media (min-width: 600px) and (max-width:899px) {
    header {display: none;}
}

@media (min-width: 900px) and (max-width: 1600px) {

}

@media (min-width: 1600px) {

}

body {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 5px;
    border: 5px;
    font-family: var(--site_Font);
}

#header_Placeholder,
#footer_Placeholder {
    grid-column: span 2;
    border: solid black 1px;
    padding: 5px;
}

#aside_Left {
    grid-column: 1;
    border: solid black 1px;
    padding: 5px;
}

#left {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid black 1px;
}

#left a {
    text-decoration: none;
    padding: 10px;
    font-size: var(--a_Size);
}

#main_Container {
    grid-column: 2;
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    padding: 5px;
}

#header_Placeholder,
#aside_Left,
#main_Container,
#footer_Placeholder {
    background-color: var(--a_Colour);
}

.column1 {
    grid-column: 1;
    border: solid black 1px;
    background-color: white;
}

.column2 {
    grid-column: 2;
    border: solid black 1px;
    background-color: white;
}

.column3 {
    grid-column: 3;
    border: solid black 1px;
    background-color: white;

}

#footer_Placeholder {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 5px;
    border: solid black 1px;
    padding: 5px;
    text-align: center;
}

#header_Placeholder,
#aside_Left,
#main_Container,
#footer_Placeholder,
#left,
.column1,
.column2,
.column3 {
    border-radius: 8px;
}







